<div class="chessboard-wrapper">
  <div class="chess-board">
    <div *ngFor="let row of boardState; let rowIdx = index" class="chess-row">
      <div
        *ngFor="let cell of row; let columnIdx = index"
        [ngClass]="getCellColor(rowIdx, columnIdx)"
        [class.hoverable]="!!cell"
        [class.clickable]="isClickableCell(cell, {rowIndex: rowIdx, columnIndex: columnIdx})"
        [class.targeted]="isTargetedPosition({rowIndex: rowIdx, columnIndex: columnIdx})"
        [class.can-move]="showCanMoveHint({rowIndex: rowIdx, columnIndex: columnIdx})"
        (click)="onCellClick(cell, {rowIndex: rowIdx, columnIndex: columnIdx})"
        class="chess-cell"
      >
        <app-chessman
          *ngIf="cell; else emptyCell"
          [chessman]="cell"
        >
        </app-chessman>
      </div>
    </div>
  </div>

  <button [class.enemy-turn]="isEnemyTurn" class="turn-button">
    {{ isEnemyTurn ? 'Enemy turn' : 'Your turn' }}
  </button>
</div>

<ng-template #emptyCell>
  &nbsp;
</ng-template>
