.chessboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chess-board {
  width: 100vw;
  max-width: 500px;
  min-width: 300px;

  height: 100vw;
  max-height: 500px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
}

.chess-row {
  width: 100%;
  flex: 1 1 0;

  display: flex;
}

.chess-cell {
  flex: 1 1 0;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &.white {
    background-color: #f3ece6;
  }

  &.black {
    background-color: #788eab;
  }

  &.clickable {
    cursor: pointer;
  }

  &.targeted {
    background-color: #efe06ad1;
    outline: 1px solid #ddcf84;
    outline-offset: -1px;
  }

  &:hover.hoverable:not(.targeted) {
    background-color: #788eabde;
  }

  &:hover.can-move {
    background-color: #98ab67;
  }
}


.turn-button {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 200;
  width: 170px;
  letter-spacing: 1px;
  padding: 13px 35px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:after {
    content: "";
    background-color: rgba(152, 171, 103, 0.62);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  &:hover:after,
  &.enemy-turn:after {
    background-color: #bdc6de;
    top: 0;
    left: 0;
  }

  &:hover.enemy-turn {
    cursor: not-allowed;
  }
}

@media (max-width: 500px) {
  .turn-button {
    font-size: 11px;
    width: 100px;
    padding: 13px 10px 13px;
  }
}
