.list-container {
  height: 400px;
  display: flex;
  align-items: center;
}

.new-game-button {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.new-game-button:after {
  content: "";
  background-color: #cdb8ef;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.new-game-button:hover:after {
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .new-game-button {
    padding: 13px 50px 13px;
  }
}
